.slideshow{
  max-width: 300px;
  position: relative;
  margin: auto;
}

.image-slides{
  display: none;
}

.image-slides img { 
	width: 100%; 
	}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  }


.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: left;
}


.num {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

